.chat-screen{
background-color: rgb(197, 203, 203);
display: flex;
width: 60%;
margin-left: auto;
margin-right: auto;
min-height: 100vh;
border-radius: 12px;
}
.chat-screen__chatname{
    display: flex;
    max-height: 10vh;
    border-bottom:2px solid black;
}
.chat-screen__chatfield{

}
.chat-screen__textfield{

}